.price-table-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

table{
    width: 80% ;
    background: none;
    
    border: none;
    height: 80%;
}

tr{
    border-radius: 20px!important;
    text-align: center;
}

.first{
    font-weight: 500;
    font-size: 22px;
    background-color: yellowgreen;
}

td{
    margin: 10px;
    background: yellow;
    border-radius: 20px;
    border: solid;
    font-size: 20px
}

td:first-of-type{
    font-weight: 500;
    background-color: yellowgreen;
    font-size: 22px;
}

caption{
    font-size: 40px;
    padding-bottom: 20px
}